
.avatar-image {
    width: 200px;
    height: 180px;
    margin-left: -10px;
    margin-top: -350px;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    height: 100vh;
    background-image: url('https://i.postimg.cc/jd3MwJzg/bf847d011a61bbfd42a9e0c027914079.jpg');
    background-size: cover; /* Escala la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    
    /* background-color:  #9034; */
}

section .container {
    position: relative;
    /* margin-right: 300px;aca muevo todo */
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
/* se sube el iniciar */
/* section .container form {
    position: relative;
    padding: 40px
} */

/* el iniciar */
section .container .from h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
   
}

/* la linea del centro debajo de */
section .container .from h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 80px; height: 4px;
    background: #fff;
}
/* section .container .from .inputBox {
    width: 100%;
    margin-top: 10px;
} */


section .container .from .inputBox input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f5f5f5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}


section .container .from .inputBox input::placeholder {
    color: #fff;
}

/* el color del boton iniciar */
section .container .from .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
section .container .from .forget {
    margin-top: 5px;
    color: #fff;
}

/* aca dice el color de si no tenes cuanta */
section .container form .forget a {  
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #fff;  
    cursor: pointer;
    text-decoration: none;
}