
.fondo-from-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('https://i.postimg.cc/nhtWpHrL/hero-bg-1.jpg'); */
  background-size: cover;

}
.container {
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor en la página */
  padding: 20px; /* Espacio alrededor del contenedor */
  background-color: #f7f7f7cf; 
  border: 1px solid #ddd; /* Borde alrededor del contenedor */
  border-radius: 5px; /* Esquinas redondeadas */
  
}


/* Estilos para los botones */
.btn-primary {
  background-color: #745C9E;
  color: #fff;
}

.btn-secondary {
  background-color: #745C9E;
  color: #fff;
}

.btn-primary,
.btn-secondary {
  margin-right: 10px; /* Espacio entre los botones */
}


